:-moz-placeholder {
    color: blue;
  }

  ::-webkit-input-placeholder {
    color: blue;
  }
  form input:required, form textarea:required, form select:required {
    border:0.3px solid #FF9F33;
  }

  form input:valid, form textarea:valid, form select:valid {
    border:0.3px solid green;
  }

  form input:focus:invalid, form textarea:focus:invalid, form select:focus:invalid {
    border:0.3px solid red;
  }
